mat-toolbar {
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: 1rem;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.logo-container>a {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

img {
    max-width: 2rem;
    border-radius: 100%;
    box-shadow: 1.5px 1.5px 5px rgba(0, 0, 0, 0.5), 
                -1px -1px 4px rgba(255, 255, 255, 0.2);
}