<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" [(opened)]="opened" position="end">
    <awad-nav (changeMenu)="sidenav.toggle()"></awad-nav>
  </mat-sidenav>

  <mat-sidenav-content class="for-nav">
    <div class="main-container">
      <awad-header (changeMenu)="sidenav.toggle()" [title]="title"></awad-header>
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
      <awad-footer></awad-footer>
    </div>
    <div class="nav-container">
      <awad-nav></awad-nav>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>